out/
.direnv/

# Python stuff
__pycache__
*.pyc
# Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
# VSCode lol
.vscode

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
