apiVersion = "v1"

[secrets]
provider = "vault"

[secrets.vault]
kvstore = "kvv2"

[ci]
webhook_url = "https://ocf.io/wtf"

[modules.argo-events]
path = "apps/argo_events.py"

[modules.argo-workflows]
path = "apps/argo_workflows.py"

[modules.argocd]
path = "apps/argocd.py"

[modules.cert-manager]
path = "apps/cert_manager.py"

[modules.cilium]
path = "apps/cilium.py"

[modules.coredns]
path = "apps/coredns.py"

[modules.harbor]
path = "apps/harbor.py"

[modules.keycloak]
path = "apps/keycloak.py"

[modules.knative]
path = "apps/knative.py"

[modules.metallb]
path = "apps/metallb.py"

[modules.metrics-server]
path = "apps/metrics_server.py"

[modules.outline]
git = "https://github.com/ocf/outline"

[modules.prometheus]
path = "apps/prometheus.py"

[modules.postgres-operator]
path = "apps/postgres_operator.py"

[modules.rook]
path = "apps/rook.py"

[modules.teleport]
path = "apps/teleport.py"

[modules.vault]
path = "apps/vault.py"

[modules.vault-secrets-operator]
path = "apps/vault_secrets_operator.py"
