apiVersion = "v1"

[secrets]
provider = "vault"

[secrets.vault]
kvstore = "kvv1"

[ci]
webhook_url="https://ocf.io/wtf"

[modules.argocd]
path = "apps/argocd.py"

[modules.argoci]
path = "apps/argoci.py"

[modules.cert-manager]
path = "apps/cert_manager.py"

[modules.cilium]
path = "apps/cilium.py"

[modules.contour]
path = "apps/contour.py"

[modules.coredns]
path = "apps/coredns.py"

[modules.harbor]
path = "apps/harbor.py"

[modules.keycloak]
path = "apps/keycloak.py"

[modules.metallb]
path = "apps/metallb.py"

[modules.prometheus]
path = "apps/prometheus.py"

[modules.rook]
path = "apps/rook.py"

[modules.vault]
path = "apps/vault.py"

[modules.vault-secrets-operator]
path = "apps/vault_secrets_operator.py"

