apiVersion = "v1"

[defaults]
certManagerIssuer = "letsencrypt"
ingressClass = "contour"

[secrets]
provider = "vault"

[secrets.vault]
kvstore = "kvv2"

[ci]
webhook_url = "https://ocf.io/wtf"

[modules.argo-events]
path = "apps/argo_events.py"

[modules.argo-workflows]
path = "apps/argo_workflows.py"

[modules.argocd]
path = "apps/argocd.py"

[modules.cert-manager]
path = "apps/cert_manager.py"

[modules.cilium]
path = "apps/cilium.py"

[modules.coredns]
path = "apps/coredns.py"

[modules.contour]
path = "apps/contour.py"

[modules.fission]
path = "apps/fission.py"

[modules.harbor]
path = "apps/harbor.py"

[modules.keda]
path = "apps/keda.py"

[modules.kubevirt]
path = "apps/kubevirt.py"

[modules.labmap]
git = "https://github.com/ocf/labmap"

[modules.metallb]
path = "apps/metallb.py"

[modules.metrics-server]
path = "apps/metrics_server.py"

[modules.outline]
git = "https://github.com/ocf/outline"

[modules.prometheus]
path = "apps/prometheus.py"

[modules.postgres-operator]
path = "apps/postgres_operator.py"

[modules.rabbitmq]
path = "apps/rabbitmq.py"

[modules.rook]
path = "apps/rook.py"

[modules.teleport]
path = "apps/teleport.py"

[modules.templates]
git = "https://github.com/ocf/templates"

[modules.transpire]
git = "https://github.com/ocf/transpire"

[modules.vault]
path = "apps/vault.py"

[modules.vault-secrets-operator]
path = "apps/vault_secrets_operator.py"
