apiVersion = "v1"

[defaults]
certManagerIssuer = "letsencrypt"
ingressClass = "contour"

[secrets]
provider = "vault"

[secrets.vault]
kvstore = "kvv2"

[ci]
webhook_url = "https://ocf.io/wtf"

[modules]
argo-events = { path = "apps/argo_events.py" }
argo-workflows = { path = "apps/argo_workflows.py" }
argocd = { path = "apps/argocd.py" }
cert-manager = { path = "apps/cert_manager.py" }
cilium = { path = "apps/cilium.py" }
coredns = { path = "apps/coredns.py" }
contour = { path = "apps/contour.py" }
fission = { path = "apps/fission.py" }
gvisor = { path = "apps/gvisor.py" }
harbor = { path = "apps/harbor.py" }
keda = { path = "apps/keda.py" }
keycloak = { path = "apps/keycloak.py" }
kubevirt = { path = "apps/kubevirt.py" }
metallb = { path = "apps/metallb.py" }
metrics-server = { path = "apps/metrics_server.py" }
prometheus = { path = "apps/prometheus.py" }
postgres-operator = { path = "apps/postgres_operator.py" }
ocf-io = { path = "apps/ocf_io.py" }
rabbitmq = { path = "apps/rabbitmq.py" }
rook = { path = "apps/rook.py" }
teleport = { path = "apps/teleport.py" }
vault = { path = "apps/vault.py" }
vault-secrets-operator = { path = "apps/vault_secrets_operator.py" }

etc = { git = "https://github.com/ocf/etc" }
jukebox = { git = "https://github.com/ocf/jukebox" }
labmap = { git = "https://github.com/ocf/labmap" }
notes = { git = "https://github.com/ocf/notes" }
ocfweb = { git = "https://github.com/ocf/ocfweb" }
outline = { git = "https://github.com/ocf/outline" }
templates = { git = "https://github.com/ocf/templates" }
transpire = { git = "https://github.com/ocf/transpire" }
